
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 10px;
}

.logo {}

.logoImg {
  width: 190px;
}
.headerLinks {

}
.headerLink {
  font-size: 17.5px;
  letter-spacing: 0.2px;
  color: #E6E8EB;
  text-decoration: none;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(40, 192, 240, 1) 51%, rgba(49, 137, 226, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  background-size: 205% 100%;
  background-position: 0 0;
  padding: 6px 0 6px 4px;
  cursor: pointer;
  margin-left: 12px;
}
.headerLink:hover {
  background-position: 100% 0;
  text-shadow: 0 0 10px rgba(48, 145, 229, 0.6);
}
.headerOfferButton {
  font-size: 17.5px;
  letter-spacing: 0.2px;
  margin-left: 22px;
  padding: 5px 12px 6px;
  letter-spacing: 1px;
  border-radius: 5.5px;
  border: none;
  cursor: pointer;
  background: rgb(40, 192, 240);
  background: -moz-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background: linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background-size: 205% 100%;
  background-position: 0 0;
  transition: all 0.35s ease;
  box-shadow: 0 0 10px rgba(40, 192, 240, 0.8);
  color: #fff;
}

.headerOfferButton:hover {
  background-position: 99% 0;
  box-shadow: 0 0 24px rgba(40, 192, 240, 0.8)
}

.offer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offerTitle {
  display: inline-block;
  color: #2BABEA;
  font-size: 40px;
  letter-spacing: 0.7px;
  font-weight: 700;
  text-shadow: 0 0 25px rgba(48, 145, 229, 0.3);
  text-align: center;
  background: linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(49, 137, 226, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  background-size: 205% 100%;
  background-position: 0 0;
}
.offerSubtitle {
  width: 85%;
  color: rgba(255, 255, 255, 0.65);
  font-size: 18.5px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-top: 12px;
}

.tariffs {
  width: 70%;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
} 
.tariff {
  padding: 20px;
  border-radius: 15px;
  background: #45546A;
  width: calc(33.3333% - 13px);
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}
/* .tariff:last-child {
  box-shadow: 0 0 55px rgba(69, 196, 255, 0.6);
} */
.tariffName {
  font-size: 23px;
  font-weight: 400; 
  letter-spacing: 2px;
  text-align: center;
  color: #2AAFEC;
  text-shadow: 0 0 8px #2AAFEC;
}
.tariffPrice {
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin-top: 8px;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 500;
}
.tariffPrice span {
  font-size: 27px;
  font-weight: 200;
  margin-left: 4px;
  letter-spacing: 0px;
}

.tariffOptions {
  margin-top: 15px;
}
.tariffOption {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.7px;
  margin-bottom: 3px;
  padding-left: 13px;
}
.tariffOption:before {
  content: "";
  position: absolute;
  top: 9.5px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 4px;
  background: #2AAFEC;
  box-shadow: 0 0 10px #2AAFEC;
}

.purchaseTariff {
  font-size: 20px;
  letter-spacing: 1.8px;
  width: 100%;
  margin-top: 18px;
  padding: 7px 20px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgb(40, 192, 240);
  background: -moz-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background: linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background-size: 205% 100%;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(42, 174, 236, 0.542);
  transition: all 0.4s ease;
}
.purchaseTariff:hover {
  box-shadow: 0 0 20px rgba(42, 174, 236, 0.8);
  background-position: 99% 0;
}


@media (max-width: 1150px) {
  .tariffs {
    width: 80%;
  } 
}
@media (max-width: 1000px) {
  .tariffs {
    width: 90%;
  } 
}
@media (max-width: 700px) {
  .tariffs {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  } 
  .tariff {
    width: 60%;
    margin-bottom: 35px;
  }
}
@media (max-width: 570px) {
  .tariffs {
    margin-top: 30px;
  }
  .tariff {
    width: 80%;
  }

  .offerTitle {
    display: inline-block;
    color: #2BABEA;
    font-size: 34px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-shadow: 0 0 25px rgba(48, 145, 229, 0.3);
    text-align: center;
    background: linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(49, 137, 226, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
    background-size: 205% 100%;
    background-position: 0 0;
  }
  .offerSubtitle {
    width: 100%;
    font-size: 15.5px;
  }
}
@media (max-width: 570px) {
  .tariff {
    width: 80%;
  }
}