.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.noScroll {
  max-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  /* position: relative; */
}

/* Nailing the footer to the bottom of the page  */
.content {
  flex: 1 1 auto;
}

.filters {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.filter {
  letter-spacing: 0.3px;
  border-radius: 68px;
  padding: 5px 12px 6px;
  background: #45546A;
  background: -moz-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 100%);
  background: linear-gradient(90deg, #45546A 0%, #45546A 50%, rgba(40, 192, 240, 1) 55%, rgba(47, 130, 214, 1) 100%);
  background-size: 255% 100%;
  background-position: 0 0;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  margin-right: 6px;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
}
.filter:last-child {
  margin-right: 0;
}
.filterActive {
  background-position: 100% 0;
  transition: all 0.35s ease;
  box-shadow: 0 0 9px rgba(40, 192, 240, 0.4);
}


.sectionTitle {
  margin-top: 20px;
  font-size: 29px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.clips {
  margin-top: 13px;
  border-radius: 20px;
  overflow: hidden;
  background: #4E5868;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  opacity: 1;
}
.clipsLoading {
  opacity: 0;
}

.clip {
  box-sizing: border-box;
  width: 25%;
  aspect-ratio: 1/1;
  border-right: 1px solid rgba(236, 236, 236, 0.4);
  border-top: 1px solid rgba(236, 236, 236, 0.4);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

/* .clip:nth-child(4n+1) {
  border-radius: 20px 0 0 20px;
}
.clip:nth-child(4n+4) {
  border-radius: 0px 20px 20px 0px;
} */

.clip:nth-child(1),
.clip:nth-child(2),
.clip:nth-child(3),
.clip:nth-child(4) {
  border-top: none;
}

.clip:nth-child(4n) {
  border-right: none;
}

/* .clip:hover {
  transform: scale(1.08);
  border-radius: 16px;
  background: #4E5868;
  border-color: transparent;
  box-shadow: 0 0 19px #2d333d;
  z-index: 2;
} */


.clipLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.clipPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 2;
  transition: all 0.3s ease;
}
.clip:hover .clipPreview {
  transform: scale(1.2);
}

.clipHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.clip:hover .clipHover {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

.playIcon {
  width: 60px;
}

.clipHover span {
  margin-top: 8px;
  font-size: 19px;
  letter-spacing: 0.5px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}


.clipPopup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #0b1c34;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: all 0.65s ease;
  overflow-y: auto;
}
.clipPopup .container {
  position: relative;
}
.clipPopupActive {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.clipPopupReturnButton {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 18px;
  letter-spacing: 0.6px;
  padding: 6px 16px 7px;
  border-radius: 7px;
  border: none;
  background: rgb(40, 192, 240);
  background: -moz-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(49, 137, 226, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(49, 137, 226, 1) 100%);
  background: linear-gradient(90deg, #3189e2 0%, #3d91e5 100%);
  box-shadow: 0 0 9px rgba(49, 137, 226, 0.683);
  cursor: pointer;
  transition: all 0.2s ease;
}

.clipPopupReturnButton:hover {
  box-shadow: 0 0 15px rgba(49, 137, 226, 0.8);
}

.clipPopupLogo {
  width: 200px;
  display: block;
  margin: 30px auto 0;
}

.clipPopupInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 50px;
}

.clipPopupVideo {
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 29px #07192b;
}

.clipPopupInfoText {
  width: 50%;
  padding-left: 35px;
}

.clipPopupInfoText p {
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 19px;
  margin-bottom: 6px;
}

.clipPopupInfoText span {
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-left: 5px;
}
.clipPopupInfoText a {
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-left: 5px;
  color: #E6E8EB;
  text-decoration: none;
  background: linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(49, 137, 226, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease;
  padding: 6px 0 6px 4px;
  text-shadow: 0 0 3px rgba(48, 145, 229, 0.3);
}

.clipPopupInfoText a:hover {
  text-shadow: 0 0 10px rgba(48, 145, 229, 0.6);
}

.clipPopupDescription {
  margin-top: 25px;
}

.clipPopupDescription span {
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 19px;
  margin-bottom: 6px;
  margin-left: 0;
}

.clipPopupDescription p {
  margin-top: 2px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.clipPopupDownloadButton {
  font-size: 21.5px;
  width: 100%;
  margin-top: 65px;
  padding: 14px 20px 15px;
  letter-spacing: 1px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  background: rgb(40, 192, 240);
  background: -moz-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background: linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(47, 130, 214, 1) 50%, rgba(40, 192, 240, 1) 100%);
  background-size: 205% 100%;
  background-position: 0 0;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(40, 192, 240, 0.5);
}

.clipPopupDownloadButton:hover {
  background-position: 100% 0;
  box-shadow: 0 0 20px rgba(40, 192, 240, 0.6)
}


.fadingContent {
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease;
}
.fadingContentVisible {
  opacity: 1;
  visibility: visible;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.loaderVisible {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 800px) {
  .clip {
    width: 33.33333%;
  }
}
@media (max-width: 530px) {
  .clip {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .clip {
    width: 100%;
  }
}