
footer {
  margin-top: 100px;
  padding: 23px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
.footerCompany {
  width: 30%; 
}
.footerLogo {
  max-width: 180px;
  width: 100%;
}
.footerCompany p {
  margin-top: -2px;
  font-size: 16px;
  color: #A9AFB6;
  letter-spacing: 0.3px;
}
.reserved {
  width: 30%;
  font-size: 16px;
  color: #c1c5ca;
  letter-spacing: 0.2px;
}
.footerContact{
  max-width: 33%;
}
.footerContactTitle {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 3px;
}
.footerContactSubtitle {
  font-size: 16px;
  font-weight: 300;
}
.footerContact a {
  font-weight: 500;
  margin-top: 3px;
  font-size: 17px;
  background: linear-gradient(90deg, rgba(40, 192, 240, 1) 0%, rgba(49, 137, 226, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease;
  word-break: break-all;
}
.footerContact a:hover {
  text-shadow: 0 0 10px rgba(48, 145, 229, 0.6);
}

@media (max-width: 450px) {
  .footerCompany {
    width: 100%; 
    margin-bottom: 25px;
  }
  .footerContact{
    max-width: 64%;
  }
  .reserved {
    width: 35%;
    font-size: 16px;
    color: #c1c5ca;
    letter-spacing: 0.2px;
    padding-right: 4px;
    box-sizing: border-box;
  }
}